{% extends "base.html" %}

{%block PAGE_NAME%}ChatGPT - Reply Setting{%endblock%}

{%block PAGEUP_SCRIPT%}


{%endblock%}

{%block PAGE%}
<h1 class="h3 mb-2 text-gray-800">預設歡迎/回覆</h1>
<!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
        href="https://datatables.net">official DataTables documentation</a>.</p> -->
<br/>
<div class="row">
    <div class="col-lg-6">

        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">預設回覆</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body"> 
                <div class="form-check form-switch" style="margin: 0 0 0 20px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="default_reply" onclick="set_setting('default_reply')" 'DEFAULT_REPLY']}}>
                    <label class="form-check-label" for="flexSwitchCheckChecked">預設回覆模式</label>
                </div>
                <br/>
                <div class="row">
                    <div class="col-10">
                        <input type="text" id="default_reply_word" value="{{PASS_DATA['DEFAULT_REPLY_WORD']}}" class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="col-2">
                        <button type="button" id="input-send" class="btn btn-outline-primary btn-sm" onclick="set_setting('default_reply_word')">SAVE</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6">

        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">回覆模式設定</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="form-check form-switch" style="margin: 0 0 0 20px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="keyword_reply" onclick="set_setting('keyword_reply')" {{PASS_DATA['KEYWORD_REPLY']}}>
                    <label class="form-check-label" for="flexSwitchCheckChecked">關鍵字回覆</label>
                </div>
                <br/>
                <div class="form-check form-switch" style="margin: 0 0 0 20px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="story_reply" onclick="set_setting('story_reply')" {{PASS_DATA['STORY_REPLY']}}>
                    <label class="form-check-label" for="flexSwitchCheckChecked">劇本回覆</label>
                </div>
                <br/>
                <div class="form-check form-switch" style="margin: 0 0 0 20px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="chatgpt_reply" onclick="set_setting('chatgpt_reply')" {{PASS_DATA['CHATGPT_REPLY']}}>
                    <label class="form-check-label" for="flexSwitchCheckChecked">ChatGPT回覆</label>
                </div>
            </div>
        </div>

    </div>
</div>
{%endblock%}

{%block PAGEDOWN_SCRIPT%}
<script>
function set_setting(key){
    if (key == 'default_reply'){
        var data = {'value': $('#default_reply').prop('checked').toString()}
    }else if (key=='default_reply_word'){
        var data = {'value': $('#default_reply_word').val()}
    }else if (key=='keyword_reply'){
        var data = {'value': $('#keyword_reply').prop('checked').toString()}
    }else if (key=='story_reply'){
        var data = {'value': $('#story_reply').prop('checked').toString()}
    }else if (key=='chatgpt_reply'){
        var data = {'value': $('#chatgpt_reply').prop('checked').toString()}
    }else{
        return
    }
    $.ajax({
        url: "/api/setting/chat/"+key+"?sid={{PASS_DATA['SID']}}",
        type: "POST",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
        },
        error: function (err) {
            alert(err.responseText);
        }
    });
}
</script>
{%endb