{% extends "base.html" %}

{%block PAGE_NAME%}ChatGPT - ChangeLog{%endblock%}

{%block PAGEUP_SCRIPT%}
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
{%endblock%}

{%block PAGE%}
    <h3>更新日誌</h3>
    <table>
        <tr>
            <th>版本</th>
            <th>內容</th>
            <th>版本相容性</th>
        </tr>
        <tr>
            <td>v20230917</td>
            <td>1.在關鍵字/劇本模式中，現在輸出可以換行了。(在輸入框中使用shift+enter換行)<br>
                2.更完整的logs紀錄。<br>
                3.新增更新紀錄頁面。
            </td>
            <td>可直接升級</td>
        </tr>
        <tr>
            <td>v20230924</td>
            <td>1.加入line_members, system_info API。<br>
                2.flowise API架構改進。<br>
                3.加入user chat history download功能。
            </td>
            <td>可直接升級</td>
        </tr>
        <tr>
            <td>v20231001</td>
            <td>1.加入filebeat支持。
            </td>
            <td>docker-compose檔案變更</td>
        </tr>
        <tr>
            <td>v20231015</td>
            <td>1.即時訊息&使用者分析界面更新。<br>
                2.MessageHandler重構&修復一些問題。
            </td>
            <td>可直接升級</td>
        </tr>
        <tr>
            <td>v20231022</td>
            <td>1.更新情緒分析模組。<br>
                2.加入對話歷程網頁。<br>
                3.劇本模式網頁優化。
            </td>
            <td>
                資料庫加入chat_session table<br>
                設定檔加入sentiment_analysis條目<br>
            </td>
        </tr>
        <tr>
            <td>v20231107</td>
            <td>1.加入廣播訊息功能。<br>
                2.加入使用者標籤(tag)功能。<br>
                3.修復主畫面使用量圖排序錯誤的bug。
            </td>
            <td>
                可直接升級
            </td>
        </tr>
        <tr>
            <td>v20231117</td>
            <td>1.加入OpenAI使用量分析。<br>
                2.加入OpenAI postfix，可以用於指定回覆語言，與其他自訂功能。<br>
                3.廣播訊息可以廣播所有用戶。
            </td>
            <td>
                拋棄SQLite支持<br>
                資料庫加入chat_session table，更新user table。<br>
                設定檔加入prompt_postfix條目
            </td>
        </tr>
    </table>
{%endblock%}

{%block PAGEDOWN_SCRIPT%}

{%endblock%}
