{% extends "base.html" %}

{%block PAGE_NAME%}ChatGPT - Chat Session{%endblock%}

{%block PAGEUP_SCRIPT%}
<!-- Custom styles for this page -->
<link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{%endblock%}

{%block PAGE%}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">對話歷程分析</h1>

<br/>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">執行分析</h6>
    </div>
    <div class="card-body">
        <p>對話歷程需要進行情感分析，會產生OpenAI費用，並花費許多時間!</p>
        <button type="button" class="btn btn-danger" onclick="run_chat_session_analyze()">執行分析</button>
    </div>
</div>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">對話歷程</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SID</th>
                        <th>MID</th>
                        <th>User</th>
                        <th>Time</th>
                        <th>Chats</th>
                        <th>analyze</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                </tbody>
            </table>
        </div>
    </div>
</div>


{%endblock%}

{%block PAGEDOWN_SCRIPT%}

<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Page level plugins -->
<script src="{{url_for('static',filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static',filename='js/demo/datatables-demo.js')}}"></script>

<script>
    $CHAT_SESSION_DATA = {{ PASS_DATA['CHAT_SESSION_DATA'] | tojson | safe}};
    $CHAT_SESSION_DATA = JSON.parse($CHAT_SESSION_DATA);
     
    function timestamp_to_str_format(timestamp){
        var date = new Date(timestamp);
        var year = date.getFullYear();
        var month = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = ("0" + date.getHours()).slice(-2);
        var minutes = ("0" + date.getMinutes()).slice(-2);
        var seconds = ("0" + date.getSeconds()).slice(-2);

        return year + "/" + month + "/" + day + " " + hours + ":" + minutes + ":" + seconds;
    }

    function updateTable() {
        var table = document.getElementById("table-content");
        // table.innerHTML = "";
        for (let i = 0; i < $CHAT_SESSION_DATA.length; i++) {
            let row = table.insertRow(i);
            row.insertCell(0).innerHTML = $CHAT_SESSION_DATA[i][0];
            row.insertCell(1).innerHTML = $CHAT_SESSION_DATA[i][1];
            row.insertCell(2).innerHTML = $CHAT_SESSION_DATA[i][2];
            row.insertCell(3).innerHTML = timestamp_to_str_format($CHAT_SESSION_DATA[i][3]);
            row.insertCell(4).innerHTML = $CHAT_SESSION_DATA[i][4];
            row.insertCell(5).innerHTML = $CHAT_SESSION_DATA[i][5];
        }
    }

    function run_chat_session_analyze(){
        $.ajax({
            url: "/api/chat_session?sid={{PASS_DATA['SID']}}",
            type: "POST",
            success: function (data) {
                alert("對話分析執行緩慢，可先進行其他操作，完成後會自動更新!");
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }

    updateTable();
</script>


{%endblock%}