{% extends "base.html" %}

{%block PAGE_NAME%}ChatGPT - Keyword{%endblock%}

{%block PAGEUP_SCRIPT%}
<!-- Custom styles for this page -->
<link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{%endblock%}

{%block PAGE%}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">關鍵字應答模式</h1>
<p class="mb-4">關鍵字模式支持正規表達式，請輸入"[Regex-表達式內容]"。支持自定義程式執行，請輸出"[ExtCode-程式]"。支持輸出使用者儲存的內容，請輸出"[LoadUserData-資料名稱]"。</p>
<p class="mb-4">請參考<a href="https://transbiz.com.tw/regex-regular-expression-ga-%E6%AD%A3%E8%A6%8F%E8%A1%A8%E7%A4%BA%E5%BC%8F" target="_blank">Regex規則</a>。為了系統穩定，請使用<a href="https://www.regextester.com" target="_blank">外部網站測試Regex</a>，再填入本系統。</p>
<p class="mb-4">由於程式限制，上述指令結尾請加一個空白。Ex. "[Regex...] "</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">關鍵字列表</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Enable</th>
                        <th>Keyword</th>
                        <th>Reply</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Enable</th>
                        <th>Keyword</th>
                        <th>Reply</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody id="table-content">
                    <tr>
                        <td>0</td>
                        <td><input type="checkbox" id="input-enable" checked></td>
                        <td><input type="text" id="input-keyword" class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm"></td>
                        <td>
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" id="input-reply" class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="on_modal_click('input-reply')">
                                        R
                                    </button>
                                </div> 
                            </div>                                                       
                        </td>
                        <td><button type="button" id="input-send" class="btn btn-outline-primary btn-sm" onclick="add_keyword()">ADD</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalRichDisplay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Rich Display 以圖片或客製化訊息回覆</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- menu -->
        <div class="modal-body">
            <div style="display: inline-block;">
                <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('image')">
                    Image
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('audio')">
                    Audio
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('video')">
                    Video
                </button>
            </div>
            <hr/>
            <!-- content -->
            <div id="image_reply_content" class="reply_content">
                <h3>Image</h3>
                <form id="upload-form" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input">
                    <input type="submit" value="上傳圖片">
                    <br/>
                    <h6 id="img-upload-status">請上傳檔案。</h6>
                </form>
                <img id="preview">
            </div>
            <div id="audio_reply_content" class="reply_content">
                <h3>Audio</h3>
                <form id="upload-form" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input">
                    <input type="submit" value="上傳圖片">
                    <br/>
                    <h6 id="img-upload-status">請上傳檔案。</h6>
                </form>
                <img id="preview">
            </div>
            <div id="video_reply_content" class="reply_content">
                <h3>Video</h3>
                <form id="upload-form" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input">
                    <input type="submit" value="上傳圖片">
                    <br/>
                    <h6 id="img-upload-status">請上傳檔案。</h6>
                </form>
                <img id="preview">
            </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{%block PAGEDOWN_SCRIPT%}

<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Page level plugins -->
<script src="{{url_for('static',filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static',filename='js/demo/datatables-demo.js')}}"></script>

<script>
    $KEYWORD_DATA = {{ PASS_DATA['KEYWORD_DATA'] | tojson | safe}};
    $KEYWORD_DATA = JSON.parse($KEYWORD_DATA);
     
    function updateTable() {
        var table = document.getElementById("table-content");
        // table.innerHTML = "";
        for (let i = 0; i < $KEYWORD_DATA.length; i++) {
            let row = table.insertRow(i);
            row.insertCell(0).innerHTML = $KEYWORD_DATA[i][0];
            row.insertCell(1).innerHTML = $KEYWORD_DATA[i][1];
            row.insertCell(2).innerHTML = $KEYWORD_DATA[i][2];
            row.insertCell(3).innerHTML = $KEYWORD_DATA[i][3];
            row.insertCell(4).innerHTML = '<button type="button" id="input-send" class="btn btn-outline-danger btn-sm" onclick="delete_keyword('+$KEYWORD_DATA[i][0]+')">REMOVE</button>';
        }
    }

    function add_keyword(){
        var enable = document.getElementById("input-enable").checked;
        if(enable){enable = "1";}else{enable = "0";}
        var keyword = document.getElementById("input-keyword").value;
        var reply = document.getElementById("input-reply").value;
        var data = {
            "enable": enable,
            "keyword": keyword,
            "reply": reply,
            "note": ""
        }
        $.ajax({
            url: "/api/keywords?sid={{PASS_DATA['SID']}}",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                    location.reload();
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }

    function delete_keyword(id){
        $.ajax({
            url: "/api/keyword/"+id+"?sid={{PASS_DATA['SID']}}",
            type: "DELETE",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                    location.reload();
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }

    updateTable();
</script>

<script>
    // script for rich display modal

    function on_modal_click(entry_field_input){
        $('#ModalRichDisplay').modal('toggle');
        entry_field = entry_field_input;
    }

    function toggle_reply_mode(mode){
        // hide all element in class reply_content
        var reply_content = document.getElementsByClassName("reply_content");
        for (let i = 0; i < reply_content.length; i++) {
            reply_content[i].style.display = "none";
        }
        // display the element with id mode+'_reply_content'
        document.getElementById(mode+'_reply_content').style.display = "block";
    }
    // show default content for image reply
    toggle_reply_mode('image')

    $(document).ready(function() {
        $('#file-input').change(function() {
            var file = this.files[0];
            var fileType = file.type;
            var fileSize = file.size;
            if (fileType != 'image/png' && fileType != 'image/jpeg') {
                alert('只能上傳 PNG 或 JPEG 格式的圖片！');
                return false;
            }
            if (fileSize > 1024 * 1024) {
                alert('圖片大小不能超過 1MB！');
                return false;
            }

            $('#img-upload-status').html('請點擊上傳。')

            var reader = new FileReader();
            reader.onload = function(event) {
                var img = new Image();
                img.onload = function() {
                    var canvas = document.createElement('canvas');
                    canvas.width = img.width;
                    canvas.height = img.height;
                    var ctx = canvas.getContext('2d');
                    ctx.drawImage(img, 0, 0);
                    $('#preview').attr('src', canvas.toDataURL());
                };
                img.src = event.target.result;
            };
            reader.readAsDataURL(file);
        });
        $('#upload-form').submit(function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: "/api/image/img"+"?sid={{PASS_DATA['SID']}}",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#img-upload-status').html('上傳成功！')
                    $('#'+entry_field).val("[LoadImage-" + data + "] ")
                },
                error: function(data) {
                    $('#img-upload-status').html('上傳失敗！')
                    console.error(data)
                }
            });
        });
    });
</script>

{%endblock%}