{% extends "base.html" %}

{%block PAGE_NAME%}ChatGPT - Message{%endblock%}

{%block PAGEUP_SCRIPT%}
<!-- Custom styles for this page -->
<link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{%endblock%}

{%block PAGE%}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">即時訊息</h1>
<!-- <p class="mb-4">關鍵字模式支持正規表達式，請輸入"[Regex] 表達式內容"。支持自定義程式執行，請輸出"[ExtCode] 程式"。</p>
<p class="mb-4">請參考<a href="https://transbiz.com.tw/regex-regular-expression-ga-%E6%AD%A3%E8%A6%8F%E8%A1%A8%E7%A4%BA%E5%BC%8F" target="_blank">Regex規則</a>。為了系統穩定，請使用<a href="https://www.regextester.com" target="_blank">外部網站測試Regex</a>，再填入本系統。</p> -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">訊息列表</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>time</th>
                        <th>UUID</th>
                        <th>name</th>
                        <th>direction</th>
                        <th>text</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    <!-- <tr>
                        <td>0</td>
                        <td><input type="checkbox" id="input-enable" checked></td>
                        <td><input type="text" id="input-keyword" class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm"></td>
                        <td><input type="text" id="input-reply" class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm"></td>
                        <td><button type="button" id="input-send" class="btn btn-outline-primary btn-sm" onclick="add_keyword()">ADD</button></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}

{%block PAGEDOWN_SCRIPT%}

<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Page level plugins -->
<script src="{{url_for('static',filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static',filename='js/demo/datatables-demo.js')}}"></script>

<script>
    $MESSAGE_DATA = {{ PASS_DATA['MESSAGE_DATA'] | tojson | safe}};
    $MESSAGE_DATA = JSON.parse($MESSAGE_DATA);
     
    function timestamp_to_str_format(timestamp){
        var date = new Date(timestamp);
        var year = date.getFullYear();
        var month = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = ("0" + date.getHours()).slice(-2);
        var minutes = ("0" + date.getMinutes()).slice(-2);
        var seconds = ("0" + date.getSeconds()).slice(-2);

        return year + "/" + month + "/" + day + " " + hours + ":" + minutes + ":" + seconds;
    }

    function updateTable() {
        var table = document.getElementById("table-content");
        // table.innerHTML = "";
        for (let i = 0; i < $MESSAGE_DATA.length; i++) {
            let row = table.insertRow(i);
            row.insertCell(0).innerHTML = timestamp_to_str_format($MESSAGE_DATA[i][0]);
            row.insertCell(1).innerHTML = $MESSAGE_DATA[i][1].slice(-5);
            row.insertCell(2).innerHTML = $MESSAGE_DATA[i][2];
            if($MESSAGE_DATA[i][3]=="0"){
                $MESSAGE_DATA[i][3] = "system";
            }else{
                $MESSAGE_DATA[i][3] = "user";
            }
            row.insertCell(3).innerHTML = $MESSAGE_DATA[i][3];
            row.insertCell(4).innerHTML = $MESSAGE_DATA[i][4];
        }
    }

    updateTable();
</script>

{%endblock%}