{% extends "base.html" %}

{%block PAGE_NAME%}ChatGPT - Q&A{%endblock%}

{%block PAGEUP_SCRIPT%}
<!-- Custom styles for this page -->
<link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{%endblock%}

{%block PAGE%}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Q&A</h1>
<!-- <p class="mb-4">關鍵字模式支持正規表達式，請輸入"[Regex] 表達式內容"。支持自定義程式執行，請輸出"[ExtCode] 程式"。</p>
<p class="mb-4">請參考<a href="https://transbiz.com.tw/regex-regular-expression-ga-%E6%AD%A3%E8%A6%8F%E8%A1%A8%E7%A4%BA%E5%BC%8F" target="_blank">Regex規則</a>。為了系統穩定，請使用<a href="https://www.regextester.com" target="_blank">外部網站測試Regex</a>，再填入本系統。</p> -->
<hr>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">API中的sid怎麼獲取?</h6>
    </div>
    <div class="card-body">
        <h6>登入本平台後，上方網址列會出現:</h6>
        <h6>https://azure2.unknownddsm.work/index?sid=$2b$12$pN9Gm02AMZx/gz9vNzqpSOLlFPdFxsjyELfoc7NJb1LFnl7AWbMa2</h6>
        <h6>其中?sid=後方的資訊即是sid</h6>
        <h6>請注意! sid資訊代表使用者登入憑證，請務必謹慎保管，外洩會導致openAI key, linebot key等資料流出!</h6>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">關鍵字模式</h6>
    </div>
    <div class="card-body">
        <h6>關鍵字模式會比對使用者輸入的語句，是否「包含」關鍵字。</h6>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">劇本模式</h6>
    </div>
    <div class="card-body">
        <h6>劇本模式用於連續的對話，設定分支與選項，讓使用者依照指示完成功能。</h6>
        <h6>請注意，如果對話內容超出選項範圍，系統會交由OpenAI回應！</h6>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bwv1GJ20PkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">使用多媒體內容回覆對話</h6>
    </div>
    <div class="card-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ebEDPdsklCA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">如何使用RichMenu功能</h6>
    </div>
    <div class="card-body">
        <p>先使用linebot designer劃出範圍與動作，並將image與右下方的json儲存為檔案，上傳至本網站。</p>
        <p>並且請遵守line官方的圖片格式要求:</p>
        <p>* Image format: JPEG or PNG</p>
        <p>* Image width size (pixels): 800 to 2500</p>
        <p>* Image height size (pixels): 250 or more</p>
        <p>* Image aspect ratio (width / height): 1.45 or more</p>
        <p>* Max file size: 1 MB</p>
        <img src="{{url_for('static',filename='img/richmenu_example.png')}}" style="height: 480px; width: 720px;"/>
    </div>
</div>

{%endblock%}

{%block PAGEDOWN_SCRIPT%}

<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

{%endblock%}