
<!-- Modal -->
<div class="modal fade" id="ModalRichDisplay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Rich Display 以圖片或客製化訊息回覆</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- menu -->
        <div class="modal-body">
            <p>關於回覆模式，請參考<a href="https://developers.line.biz/en/docs/messaging-api/message-types/" target="_BLANK">LINE官方網頁</a></p>
            <div style="display: inline-block;">
                <a>關鍵字</a>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('regex')">
                        正規表達式
                    </button>                    
                <br/>
                <a>劇本選項</a>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('regex')">
                        正規表達式
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('save_user_variable')">
                        儲存使用者資料
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('set_user_variable')">
                        設定使用者資料
                    </button>
                <br/>
                <a>關鍵字/劇本輸出</a>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('image')">
                        圖像
                    </button>
                    <!-- <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('audio')">
                        Audio
                    </button> -->
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('video')">
                        影片
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('buttons_template')">
                        單頁圖文訊息
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('buttons_templates')">
                        多頁圖文訊息
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('load_user_variable')">
                        讀取使用者資料
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="toggle_reply_mode('external_code')">
                        執行外部程式
                    </button>
            </div>
            <hr/>
            <!-- content -->
            <div id="regex_reply_content" class="reply_content">
                <h3>Regular Expresion</h3>
                <p class="mb-4">請參考<a href="https://transbiz.com.tw/regex-regular-expression-ga-%E6%AD%A3%E8%A6%8F%E8%A1%A8%E7%A4%BA%E5%BC%8F" target="_blank">Regex規則</a>。為了系統穩定，請使用<a href="https://www.regextester.com" target="_blank">外部網站測試Regex</a>，再填入本系統。</p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-regex">Regex</span>
                    <input id="regex-input" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-regex">
                </div>
                <p>達成條件後，是否儲存到使用者變數內？</p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-regex-variable">變數名稱</span>
                    <input id="regex-variable-input" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-regex-variable">
                </div>
                <button type="button" id="buttons-regex-save" class="btn btn-primary btn-sm"  style="margin-left: 10px;" onclick="on_regex_save()">儲存</button>
            </div>

            <div id="external_code_reply_content" class="reply_content">
                <h3>Run External Code</h3>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-save-user-variable">External Code Name</span>
                    <input id="external-code-name-input" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-save-user-variable">
                </div>
                <button type="button" class="btn btn-primary btn-sm"  style="margin-left: 10px;" onclick="on_save_external_code()">儲存</button>
            </div>

            <div id="save_user_variable_reply_content" class="reply_content">
                <h3>Save User Variable</h3>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-save-user-variable">Variable</span>
                    <input id="save-user-variable-input" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-save-user-variable">
                </div>
                <button type="button" class="btn btn-primary btn-sm"  style="margin-left: 10px;" onclick="on_save_user_variable_save()">儲存</button>
            </div>

            <div id="set_user_variable_reply_content" class="reply_content">
                <h3>Set User Variable</h3>
                <div style="display: inline-block;">
                    <a>功能變數</a>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="on_set_user_variable_richmenu()">
                        設定RichMenu
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onmousedown="on_set_user_variable_tag()">
                        設定使用者標籤
                    </button>
                </div>
                <hr/>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-set-user-variable">Variable</span>
                    <input id="set-user-variable-input" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-save-user-variable">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-set-user-value">Value</span>
                    <input id="set-user-value-input" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-set-user-value">
                </div>
                <button type="button" class="btn btn-primary btn-sm"  style="margin-left: 10px;" onclick="on_set_user_variable_save()">儲存</button>
            </div>

            <div id="load_user_variable_reply_content" class="reply_content">
                <h3>Load User Variable</h3>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-load-user-variable">Variable</span>
                    <input id="load-user-variable-input" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-load-user-variable">
                </div>
                <button type="button" class="btn btn-primary btn-sm"  style="margin-left: 10px;" onclick="on_load_user_variable_save()">儲存</button>
            </div>

            <div id="image_reply_content" class="reply_content">
                <h3>Image</h3>
                <form id="upload-form-image" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input-image">
                    <input type="submit" value="上傳圖片">
                    <br/>
                    <h6 id="img-upload-status">請上傳檔案。</h6>
                </form>
                <img id="preview_image">
            </div>

            <div id="audio_reply_content" class="reply_content">
                <h3>Audio</h3>
                <form id="upload-form-audio" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input-audio">
                    <input type="submit" value="上傳音樂">
                    <br/>
                    <h6 id="audio-upload-status">請上傳檔案。</h6>
                </form>
                <img id="preview_audio">
            </div>

            <div id="video_reply_content" class="reply_content">
                <h3>Video</h3>
                <form id="upload-form-video" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input-video">
                    <input type="submit" value="上傳影片">
                    <br/>
                    <h6 id="video-upload-status">請上傳檔案。</h6>
                </form>
                <video id="preview_video"></video>
            </div>

            <div id="buttons_template_reply_content" class="reply_content">
                <h3>Buttons Template</h3>
                <form id="upload-form-buttons-template" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input-buttons-template">
                    <input type="submit" value="上傳圖片">
                    <br/>
                    <h6 id="buttons-template-upload-status">請上傳檔案。</h6>
                </form>
                <img id="preview_buttons_template">
                <p id="image_upload_result"></p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-title">Title</span>
                    <input id="buttons_template_title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-title">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-text">Text</span>
                    <input id="buttons_template_text" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-text">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-action1">Action1</span>
                    <input id="buttons_template_action1" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-action1" value="">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-action2">Action2</span>
                    <input id="buttons_template_action2" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-action2" value="不需要此按鈕則不需修改">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-action3">Action3</span>
                    <input id="buttons_template_action3" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-action3" value="不需要此按鈕則不需修改">
                </div>
                <button type="button" id="buttons-template-send" class="btn btn-primary btn-sm" onclick="on_button_template_send()">送出</button>
            </div>

            <div id="buttons_templates_reply_content" class="reply_content">
                <h3>Buttons Templates</h3>
                <p>使用說明：請先填寫第一頁，按下下方「下一頁」，再填寫第二頁...最多四頁</p>
                <p>請注意! 回覆按鈕字數不能超過20!</p>
                <form id="upload-form-buttons-templates" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input-buttons-templates">
                    <input type="submit" value="上傳圖片">
                    <br/>
                    <h6 id="buttons-templates-upload-status">請上傳檔案。</h6>
                </form>
                <img id="preview_buttons_templates">
                <p id="image_upload_result"></p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-title">Title</span>
                    <input id="buttons_templates_title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-title">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-text">Text</span>
                    <input id="buttons_templates_text" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-text">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-action1">Action1</span>
                    <input id="buttons_templates_action1" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-action1" value="">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-action2">Action2</span>
                    <input id="buttons_templates_action2" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-action2" value="不需要此按鈕則不需修改">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-action3">Action3</span>
                    <input id="buttons_templates_action3" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-action3" value="不需要此按鈕則不需修改">
                </div>
                <button type="button" id="buttons-templates-send" class="btn btn-outline-primary btn-sm" onclick="on_button_templates_prev_page()"><</button>
                <div class="badge bg-primary text-wrap" id="button-templates-pageid">1</div>
                <button type="button" id="buttons-templates-send" class="btn btn-outline-primary btn-sm" onclick="on_button_templates_next_page()">></button>

                <button type="button" id="buttons-templates-send" class="btn btn-primary btn-sm"  style="margin-left: 10px;" onclick="on_button_templates_send()">送出所有頁面</button>
            </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
