{% extends "base.html" %}

{%block PAGE_NAME%}ChatGPT - Reply Setting{%endblock%}

{%block PAGEUP_SCRIPT%}


{%endblock%}

{%block PAGE%}
<h1 class="h3 mb-2 text-gray-800">劇本模式</h1>
<!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
        href="https://datatables.net">official DataTables documentation</a>.</p> -->
<br/>
<div class="row">
    <div class="col-2">
        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">劇本</h6>
            </div>
            <div class="card-body">
                hi
            </div>
            <div class="card-body">
                hi
            </div>
            <div class="card-body">
                hi
            </div>
            <div class="card-body">
                hi
            </div>
            <div class="card-body">
                hi
            </div>
            <div class="card-body">
                hi
            </div>
            <div class="card-body">
                hi
            </div>
            <div class="card-body">
                hi
            </div>
        </div>
    </div>
    <div class="col-10">
        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">編輯劇本</h6>
            </div>
            <div class="card-body">
                This card uses Bootstrap's default styling with no utility classes added. Global
                styles are the only things modifying the look and feel of this default card example.
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block PAGEDOWN_SCRIPT%}

{%endblock%}